extends layout

block content
  h1= title
  a(href="https://chiroludiek.be/") originele site chiro ludiek
  div("text-allign"="center")
  iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2507.666728337449!2d3.5714088160262363!3d51.059241279564006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c36e93830bfdf5%3A0x682b08f9a1c774d3!2sGemeentelijke+sporthal+Landegem!5e0!3m2!1snl!2sbe!4v1543676607505" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
    img(src= "images/Chiro Ludiek logo.png")
  
    
    
    