doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.csshttps://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css')
  body
  -const headStyle ={"color": "white","text-align":"center","background-color":"red"}
  -const bodyStyle ={"color": "red","text-align":"center"}

    block content

