doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="lastfm.api.md5.js")
    script(type="text/javascript" src="lastfm.api.js")

  body
    div(class="w3-bar w3-red")
        img(src= "../images/download.png",class="w3-round",height="50px")
        a(href="/",class="w3-bar-item w3-button w3-mobile") Homepage
        a(href="/liedje",class="w3-bar-item w3-button w3-mobile") Liedje       
        a(href="/liedje/top_10",class="w3-bar-item w3-button w3-mobile") top 10
        if user
            a(href="/users/account",class="w3-bar-item w3-button w3-mobile") #{user.name}
            a(href="/users/logout",class="w3-bar-item w3-button w3-mobile") logout
        else
            a(href="/users/login",class="w3-bar-item w3-button w3-mobile") log in
            a(href="/users/register",class="w3-bar-item w3-button w3-mobile") registreer
            
        
  .container
  -const bodyStyle ={"color": "red","text-align":"center"}
    block content

