extends layout

block content
    h1(style=headStyle)="LIEDJESSTEMPLAATS"
    
    div.label(style=bodyStyle) Titel: 
        input(name = "inpTitel")
        
    div.label(style=bodyStyle) Artiest: 
        input(name= "inpArtiest")     
    button stem
    
    h1(style=headStyle) top 10
    ul
       il liedje 1
       il liedje 2