test{
    padding:50px;
}
form-group{
    padding:50px;
    align-content: center;
}
h1{
    color: white;
    text-align:center;
    background-color:red;
}
.errors {
    background-color: rgba(255,0,0,0.2);
    border: solid 1px red;
    padding-left: 20%;
}
.errors li{
    color: red;
    list-style-type: none;
}
searchResultaat{
    padding: 50px;
}